<launch>
  <!-- Set the Gazebo model path to include custom models -->
  <env name="GAZEBO_MODEL_PATH" value="$(find elfin_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Robot Model -->
  <group ns="elfin">  
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find elfin_description)/urdf/elfin3_experiment1.urdf.xacro'" />
    <node name="urdf_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model elfin3 -param robot_description" />
  </group>
        
  <!-- Controller: adaptive_impedance_controller -->
  <rosparam file="$(find elfin_gazebo)/config/adaptive_impedance_controller.yaml" command="load" />

   <!-- State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="/elfin" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/elfin" args="joint_state_controller adaptive_impedance_controller" />

  <!-- Spawn Marker -->
 <node name="spawn_marker" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-sdf -model aruco_marker -file /root/src/elfin/elfin_gazebo/models/aruco_marker/model.sdf -x 0.4 -y 0 -z 0" />

</launch>
